<div class="intro">
    <div class="container">
        <div class="row centered">
            <div class="col-md-6">
                <img src="{{ site.baseurl }}/img/home_side1.png" alt="Current">
            </div>
            <div class="col-md-6">
                <h3>Current GIS solutions</h3>
                <p class="text-justify">Currently the Isle of Wight Council uses a number of proprietary tools for common Geographical Information System related tasks such as data visualization and mapping. The current tools require a large amount of financial resources. The
                    IoW Council challanges the current setup and investigates the possibilties to improve the situation. Find out more about the current technologies: </p>
                <a href="{{ "/current " | prepend: site.baseurl }}" class="btn btn-default">More info</a>
            </div>
        </div>
    </div>
    <! --/container -->
</div>
<! --/service -->
</div>

<div class="intro">
    <div class="container">
        <div class="row centered">
            <div class="col-md-6">
                <h3>The Open-source initative</h3>
                <p class="text-justify"> In 2017 a new initiative was accepted that intends to move the current infrastructure to a free and open-source technology based solution. This task requires a thorough investigation of available GIS tools. The possibilties are endless
                    and the open-source, community based approach proposes many advantages, including the obvious financial benefits. Find out more about the proposed technologies: </p>
                <a href="{{ "/proposed " | prepend: site.baseurl }}" class="btn btn-default">More info</a>
            </div>
            <div class="col-md-6">
                <img src="{{ site.baseurl }}/img/home_side2.png" alt="Open-Source">
            </div>
        </div>
    </div>
    <! --/container -->
</div>
<! --/service -->
