<!-- Present the purpose of the site with external link-->
<div class="container-fluid bg-2 text-center">
    <div class="col-sm-3"> </div>
    <div class="col-sm-6">
        <h3>The purpose of the project</h3>
        <img src="{{ site.baseurl }}/img/iow.jpg" class="img-circle img-responsive center-block" alt="Purpose">
        <p>The aim of this website is to showcase the current GIS technology used by the Isle of Wight Council to communicate GIS realted information to the general public and to present a possible solution for undertaking the same task with free and open-source
            solutions. </p>
        <a href="https://opensource.org/personas/government" role="button" class="btn btn-default">Open-source Initiative</a>
        <p></p>
    </div>
    <div class="col-sm-3"></div>
</div>
