<div class="alert alert-warning alert-dismissable fade in">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
<strong> Please enable loading unsafe scripts on this page, so that the map could connect to ESRI SERVER! <a href="#" data-toggle="modal" data-target="#myModal">More info</a>
 </strong></div>

<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Enable untrusted content</h4>
  </div>
  <div class="modal-body">
    <p>In case of Google Chrome, open terminal and start it with the following command:</p>
      google-chrome --allow-running-insecure-content
    <p>Please make sure to close every chrome instance before, otherwise chrome will just start a new tab in the current session. </p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>

 </div>
</div>
