<div class="alert alert-danger alert-dismissable fade in">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
<strong> To view this page loading load unsafe scripts are required. For more information please  <a href="#" class="alert-link" data-toggle="modal" data-target="#myModal"> click here.</a>
 </strong></div>

<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Enable untrusted content</h4>
  </div>
  <div class="modal-body">
    <p>In case of Google Chrome, open terminal and start it with the following command:</p>
    <b>  google-chrome --allow-running-insecure-content </b>
    <p>Please make sure to close every chrome instance before, otherwise chrome will just start a new tab in the current session. </p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>

 </div>
</div>
