---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- The content of each map -->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="container-fluid text-center ">
        <p>
          <h1>{{ page.title }}</h1>
        </p>
        {{ content }}
      </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
      <p></p>
      <ul class="list-group row">
           <li class="list-group-item col-xs-12 text-center">Map information</li>
           <li class="list-group-item col-xs-4">Application:</li>
           <li class="list-group-item col-xs-8 text-left" style="font-weight: normal !important;">{{ page.application }}</li>
           <li class="list-group-item col-xs-4">Base map:</li>
           <li class="list-group-item col-xs-8 text-left" style="font-weight: normal !important;">{{ page.base_layer }}</li>
           <li class="list-group-item col-xs-4">Layer(s):</li>
           <li class="list-group-item col-xs-8 text-left" style="font-weight: normal !important;">{{ page.layer }}</li>
           <li class="list-group-item col-xs-4">Purpose:</li>
           <li class="list-group-item col-xs-8 text-left" style="font-weight: normal !important;"><small>{{ page.purpose }}</small></li>
      </ul>
    </div>
</div>
